<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skylerk99.powercolor.settingschanged</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.skylerk99.powercolor.settingschanged</string>
			<key>key</key>
			<string>custom</string>
			<key>label</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AdvancedPCListController</string>
			<key>label</key>
			<string>Custom Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ResetPCListController</string>
			<key>label</key>
			<string>Reset to Default Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contribute</string>
			<key>icon</key>
			<string>PayPal.png</string>
			<key>action</key>
			<string>donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>PowerColor</string>
</dict>
</plist>
